@model dynamic

@{
    Layout = "Shared/_Layout.cshtml";
}

<!-- START: MAIN CONTENT -->

<p>Hello,</p>
<p>You have requested a password recovery for your account.</p>
<p>Please use the <b>@Model.RecoveryCode</b> recovery code to continue the process.</p>
<p>Best regards,</p>
<p>Shoc Platform</p>

<!-- END: MAIN CONTENT -->
